body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* changes */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#goodboy.spin {
  animation: spin 2s linear infinite;
}


/* button */
.button-size {
  position: absolute;
  bottom: -1000px;
  left: 0;
  width: 150px;
  height: 50px;
  background-color: red;
  color: white;
  animation: slideX 2s linear infinite;
}

@keyframes slideX {
  0% { left: 0; }
  50% { left: 80vw; }
  100% { left: 0; }
}